<table class="table table-info table-striped">
    <!-- <caption align="top" class="bg-warning p-2 text-center">DANH SÁCH DỰ ÁN</caption> -->
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Tên dự án</th>
            <th>Ngày bắt đầu</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let da of listDuAn; let i = index">
            <td>{{i+1}}</td>
            <td><a href="#" [routerLink]="['/duan', da.id]">{{da.nameDuAn}}</a></td>
            <td>{{da.dateStart|date: 'dd-MM-Y'}}</td>
            <td>{{da.price}} VNĐ</td>
        </tr>
    </tbody>
</table>
