<form class="mt-3" #frmNV="ngForm" (ngSubmit)="nvthem(frmNV.value)" [formGroup]="frm1">
    <h5 class="bg-warning p-2">THÊM NHÂN VIÊN</h5>
    <p class="mb-3">ID 
        <input name="id" ngModel class="form-control" readonly type="number">
    </p>
    <p class="mb-3">Họ 
        <input name="ho" formControlName="ho" ngModel class="form-control" type="text">
        <em *ngIf="frm1.controls['ho']?.errors" class="text-danger" >
            Thông tin này không được để trống.
        </em>
    </p>
    <p class="mb-3">Tên 
        <input name="ten" formControlName="ten" ngModel class="form-control" type="text">
        <em *ngIf="frm1.controls['ten']?.errors" class="text-danger" >
            Thông tin này không được để trống.
        </em>
    </p>
    <p class="mb-3">Ngày sinh 
        <input name="ngaysinh" formControlName="ngaysinh" ngModel class="form-control" type="date">
        <em *ngIf="frm1.controls['ngaysinh']?.errors" class="text-danger" >
            Chọn ngày sinh của bạn.
        </em>
    </p>
    <p class="mb-3">Giới tính(<span>*Nam is tick, Nữ isn't tick</span>) 
        <input type="checkbox" name="phai" formControlName="phai" ngModel id="">
        <em *ngIf="frm1.controls['phai']?.errors" class="text-danger" >
            Chọn giới tính của bạn.
        </em>
    </p>
    <p class="mb-3">Khu vực 
        <input name="khuvuc" formControlName="khuvuc" ngModel class="form-control" type="text">
        <em *ngIf="frm1.controls['khuvuc']?.errors" class="text-danger" >
            Nhập khu vực của bạn.
        </em>
    </p>
    <p><button class="btn btn-primary p-2">Thêm</button></p>
    <p>{{frm1.value|json}}</p>
    <p>{{frm1.value.ho}}</p>
    <p>{{frm1.value.ten}}</p>
    <p>{{frm1.value.ngaysinh}}</p>
    <p>{{frm1.value.phai}}</p>
    <p>{{frm1.value.khuvuc}}</p>
</form>
