<form class="mt-3" #frm1="ngForm" #frmNV="ngForm" (ngSubmit)="nvthem(frmNV.value)">
    <h5 class="bg-warning p-2">THÊM NHÂN VIÊN</h5>
    <p class="mb-3">ID <input name="id" ngModel class="form-control" readonly type="number"></p>
    <p class="mb-3">Họ <input name="ho" required #loiho="ngModel" ngModel minlength="1" maxlength="10" class="form-control" type="text"></p>
    <em *ngIf="loiho.invalid" class="text-danger"> 
        Thông tin này không được để trống.
    </em>
    <p class="mb-3">Tên <input name="ten" required minlength="1" maxlength="10" #loiten="ngModel" ngModel class="form-control" type="text"></p>
    <em *ngIf="loiten.invalid" class="text-danger"> 
        Thông tin này không được để trống.
    </em>
    <p class="mb-3">Ngày sinh <input name="ngaysinh" ngModel class="form-control" type="date"></p>
    <p class="mb-3">Giới tính(<span>*Nam is tick, Nữ isn't tick</span>) <input type="checkbox" name="phai" ngModel id=""></p>
    <p class="mb-3">Khu vực <input name="khuvuc" ngModel #loikhuvuc="ngModel" required minlength="4" maxlength="20" class="form-control" type="text"></p>
    <em *ngIf="loikhuvuc.invalid||loikhuvuc.errors?.['minlength']['actualLength']<loikhuvuc.errors?.['minlength']['requiredLength']" class="text-danger"> 
        Thông tin này không được để trống và ít phải nhất 4 ký tự.
    </em>
    <p><button class="btn btn-primary p-2">Thêm</button></p>
    <p>{{frm1.value|json}}</p>
    <p>{{frm1.value.ho}}</p>
    <p>{{frm1.value.ten}}</p>
    <p>{{frm1.value.ngaysinh}}</p>
    <p>{{frm1.value.phai}}</p>
    <p>{{frm1.value.khuvuc}}</p>
</form>
