<h4 class="bg-warning mt-3 p-2">DANH SÁCH TASK</h4>
<div *ngFor="let task of listTask" class="mb-3">
    <div> 
        <a href="#"><b>{{task.tenTask}}</b></a><br>
        {{task.moTa}} 
    </div>
    <hr>
    <!-- <div class="mb-3 border-bottom row">
        <div class="col-6">
        Priority: {{task.priority}}<br>
        Status: {{task.status}}
        </div>
        <div class="col-6">
        Nhân viên  {{task.nhanVienID}}<br>
        Dự án: {{task.duAnID}}
        </div>
    </div> -->
</div>

