<table class="table table-bordered border border-primary mt-3">
    <caption align="top" class="bg-warning p-2">DANH SÁCH NHÂN VIÊN</caption>
    <tr>
        <th>id</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Phái</th>
        <th>Khu vực</th>
      </tr>
      <tr *ngFor="let nv of listNhanVien">
        <td>{{nv.id}}</td>
        <td>{{nv.ho}} {{nv.ten}}</td>
        <td>{{nv.ngaysinh|date:'dd/MM/Y'}}</td>
        <td>
          <span *ngIf="nv.phai==true">Nam</span> 
          <span *ngIf="nv.phai==false">Nữ</span>
        </td>
        <td>{{nv.khuvuc}}</td>
      </tr>  
</table>
