<form #frmDA="ngForm" class="mt-3" (ngSubmit)="dathem(frmDA.value)" [formGroup]="frm1">
    <h5 class="bg-warning p-2">THÊM DỰ ÁN</h5>
    <p class="mb-3">ID
        <input name="id" ngModel readonly class="form-control" type="number">
    </p>
    <p class="mb-3">Tên dự án 
        <input name="nameDuAn" formControlName="nameDuAn" type="text" ngModel class="form-control">
        <em *ngIf="frm1.controls['nameDuAn']?.errors" class="text-danger" >
            Tên dự án phải ít nhất 10 ký tự.
        </em>
    </p>
    <p class="mb-3">Ngày bắt đầu 
        <input ngModel name="dateStart" formControlName="dateStart" type="date" class="form-control">
        <em *ngIf="frm1.controls['dateStart']?.errors" class="text-danger" >
            Chọn thời gian bắt đầu dự án.
        </em>
    </p>
    <p class="mb-3">Giá 
        <input ngModel name="price" formControlName="price" type="number" class="form-control">
        <em *ngIf="frm1.controls['price']?.errors" class="text-danger" >
            Giá của dự án ít nhất là 1.000.000 VNĐ.
        </em>
    </p>
    <p class="mb-3">Leader <select ngModel name="leader" class="form-control">
        <option value="0">Lê Hữu Quân</option>
    </select></p>
    <p class="mb-3">Thành viên 
        <select ngModel name="member" multiple size="5" class="form-control">
            <option value="0">Lê Hữu Quân</option>
        </select>
    </p>
    <p><button type="submit" class="btn btn-success p-2">Thêm dự án</button></p>
    <p>{{frm1.value|json}}</p>
    <p>{{frm1.value.ten}}</p>
    <p>{{frm1.value.ngay}}</p>
</form>
